/JPEGdemo/nbproject/private/
/JPEGdemo/build/
/Jpegdemo1/nbproject/private/
/Jpegdemo1/build/
/cal/nbproject/private/
/caldemo/nbproject/private/
/ImageScan/nbproject/private/
/ImageScan/build/
/WebApplication2/nbproject/private/
/WebApplication2/build/